<!-- Die Haupseite, wird mit http://127.0.0.1:5000 angezeigt -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="static/style.css">
    <title>Title</title>
</head>
<body>
    <center>
<h1>Roll the Dice</h1>
<h4>Bitte Würfeln</h4>
<h4>{{text}}</h4>
<form action="/" method="post">
<div>
        <button type="submit" class="btn btn-outline-dark" name="wurfel1">1 Würfel</button>
        <button type="submit" class="btn btn-outline-dark" name="wurfel2">2 Würfel</button>
    </div>
</center>

</form>


</body>
</html>